.card {
    height: 100%;
}

.card_block{
   margin-top: 15px;
   position: relative;
   border: 1px solid #CBCBCB; 
   float: left; 
   width: 200px; 
   margin-right: 20px;
   background-color: white;
   
}
/* a{
    text-decoration: none;
    color: black;
} */
.card_name{
    font-size: 13px;
    padding-left: 15px;
}
/* .card_a{
    position: absolute;
    top: 68%;
    
    padding: 6px 6px 4px;
    border-radius: 50%;
} */
.card_disc{
    font-size: 13px;
    padding-left: 5px;

}
